* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.sideBar {
  flex: 0.2;

  background-color: #f3f3f3;
}
.pages {
  flex: 0.8;
}
